<!DOCTYPE html>
<html lang="en">
	<head>
		<meta charset="UTF-8">
		<title>CSS Transitions</title>
		<link href="https://maxcdn.bootstrapcdn.com/bootswatch/3.3.7/journal/bootstrap.min.css" rel="stylesheet">
		<link rel="stylesheet" href="css/style.css">
	</head>
	<body>
		<div class="canasta">
			<div class="pelota a">Hola</div>
			<div class="pelota b">mundo!</div>
		</div>
	</body>
</html>
