<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>Node Sample App</title>

	<!-- CSS -->
	<!-- load bootstrap and our own personal stylesheet -->
	<link href="//maxcdn.bootstrapcdn.com/bootswatch/3.2.0/superhero/bootstrap.min.css" rel="stylesheet">
	<link rel="stylesheet" href="css/style.css">

</head>
<body>

<div class="container">
	<div class="jumbotron">
		<h2>MBSA Info Session Sign-in</h2>
		<p>Welcome to MBSA's Fall 2019 info session! We have some exciting events planned, so make sure you sign up to ensure you're getting accounted for!</p>

		<form>
			First name: <br>
			<input type="text" name="firstname"><br>
			Last name: <br>
			<input type = "text" name="lastname">
			Grade: <br>
				<input type="radio" name="grade" value="Freshman">Freshman<br>
				<input type="radio" name="grade" value="Sophomore">Sophomore<br>
				<input type="radio" name="grade" value="Junior">Junior<br>
				<input type="radio" name="grade" value="Freshman">Senior<br> 


		</form>

		<a href="#attendance" class="btn btn-primary btn-sm">Attendance Sign-in</a>
		<a href="#unsubscribe" class="btn btn-primary btn-sm">Unsubscribe</a>

	</div>
</div>

</body>
</html>
